@import url('variables.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid tomato;       
}
.body{
    background-color: var(--color-gradient-2);
}
.header {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    /* justify-content: stretch; */
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    /* padding-top: 5px; */

}   
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
    padding-top: 0.3vw;

}
.div__menu {
    /* background: green; */
    margin-top: 0.3vw;
    margin-left: 48vw;
    /* padding: 15px; */
    /* border-top: 2px solid black; */
}
.ul__menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 5.21vw;
    color: var(--font-color-1);

}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";

}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

.img_header{
    display: flex;
    position: absolute;
    left: 94.3vw;
    top: 0.5vw;
    width: 1.5vw;
    height: auto;
    cursor: pointer;
    gap: 0.4VW;
}
.main{

}
.section_line{
    position: absolute;
    background-color: var(--color-gradient-2);
    left: 4vw;
    width: 92vw;
    top: 7vw;
    height: 2px;
}
.section__menu{
    button{
        position: absolute;
        left: 6.5vw;
        top: 7.8vw;
        width: 7.9vw ;
        height: 2vw;
        background-color: var(--color-gradient-3);
        border-radius: 0.4vw;
        border: none;
        color: var(--font-color-2);
        font-size: 1.1vw;
        font-family: "Montserrat-Medium";
        cursor: pointer;
    }
    div{
        position: absolute;
        left: 23.8vw;
        top: 8.1vw ;
        width: 51.5vw;
        height:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p{
            font-size: 1.1vw ;
            color:var(--font-color-2);
            font-family: "Montserrat-Light";
            cursor: pointer;
        }
        }
}
.section__img{
    position: absolute;
    width: 71vw;
    height: 42vw;
    left: 1.8vw;
    top: 14vw;
    img{
        width: 100%;
        height: 100%;
    }
}
.section__txt{
    position: absolute;
    left: 51vw;
    top: 20vw;
    width: 46vw;
    height: 32vw;
    background-color: var(--color-gradient-5);
    color: var(--font-color-2);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    p{
        position: absolute;
        left: 2vw;
        top: 2.56vw;
        width: 40vw;
        font-size: 2vw;
        font-family: "Montserrat-Light";

    }
    h2{
        position: absolute;
        top: 11vw;
        left: 2vw;
        width: 40vw;
        font-size: 2vw;
        font-family: "Montserrat-SemiBold";
    }
.p2{
        position: absolute;
        left: 2vw;
        top: 17vw;
        width: 40vw;
        font-size: 1.7vw;
        font-family: "Montserrat-Medium";
        padding-left: 0.5vw;    
}
    button{
        position: absolute;
        width: 15vw;
        top: 26.31vw;
        display: flex;
        justify-content: center;
        align-self: center;
        background-color: var(--color-gradient-4);
        font-family: "Montserrat-Light";
        font-size: 1.6vw;
        border-radius: 1.7vw ;
        cursor: pointer;
        border: none;
        padding-top: 0.5vw;
        color: var(--color-gradient-2);
    }
}
.section__posts{
    position: absolute;
    top: 60.5vw ;
    left: 3.5vw ;
    font-family: "Montserrat-Medium";
    font-size: 1.5vw;
    color: var(--font-color-2);
}

.section__first-row{
    position: absolute;
    width: 100%;
    top: 67vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2vw ;
    img{
        position: absolute;
        top: 1.5vw;
        width: 28vw;
        height: 20vw;
        display: flex;
        align-self: center;
        border-radius: 2vw;
    }
    div{
        width:30vw ;
        height: 42vw;
        display: flex;
        flex-direction: column;
        border-radius: 2vw; 
        background-color: var(--color-gradient-3);
    }
    h1{
        position: absolute;
        font-size: 1.9vw;
        width:28.5vw ;
        top: 23vw;
        display: flex;
        align-self: center;
        color: var(--font-color-2);
        font-family: "Montserrat-SemiBold";
    }
    p{
        position: absolute;
        top: 28.5vw;
        width:28.5vw ;
        height: auto;
        font-size: 1.5vw;
        display: flex;
        align-self: center;
        color: var(--font-color-2);
        font-family: "Montserrat-Regular";
    }
    button{
        position: absolute;
        top: 37.5vw ;
        width: 8.9vw;
        height: 2.7vw;
        font-size: 1.5vw;
        border: none;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        background-color:var(--color-gradient-4);
        color: var(--color-gradient-2);
        font-family: "Montserrat-Regular";
        border-radius: 1.5vw;
        cursor: pointer;
    }
}

.section__second-row{
    position: absolute;
    width: 100%;
    top: 111vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2vw ;
    img{
        position: absolute;
        top: 1.5vw;
        width: 28vw;
        height: 20vw;
        display: flex;
        align-self: center;
        border-radius: 2vw;
    }
    div{
        width:30vw ;
        height: 42vw;
        display: flex;
        flex-direction: column;
        border-radius: 2vw;
        background-color: var(--color-gradient-3);
    }
    h1{
        position: absolute;
        font-size: 1.9vw;
        top: 23vw;
        width:28.5vw ;
        display: flex;
        align-self: center;
        color: var(--font-color-2);
        font-family: "Montserrat-SemiBold";
    }
    p{
        position: absolute;
        top: 28.5vw;
        width:28.5vw ;
        height: auto;
        font-size: 1.5vw;
        display: flex;
        align-self: center;
        color: var(--font-color-2);
        font-family: "Montserrat-Regular";
    }
    button{
        position: absolute;
        top: 37.5vw ;
        width: 8.9vw;
        height: 2.7vw;
        font-size: 1.5vw;
        border: none;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        background-color:var(--color-gradient-4);
        color: var(--color-gradient-2);
        font-family: "Montserrat-Regular";
        border-radius: 1.5vw;
        cursor: pointer;
    }
}

.section__daily{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 157vw;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    height: auto;

    h2{
        position: absolute;
        /* display: flex; */
        color: var(--color-1);
        align-self: center;
        font-size: 2vw; 
        font-family: "Montserrat-Bold";
        color: var(--font-color-2);
    }
    p{
        position: absolute;
        display: flex;
        top: 3.5vw;
        align-self: center;
        color: var(--color-1);
        font-family: "Montserrat-Regular";
        width: 60vw;
        font-size: 1.4vw;
        text-align: center;
        color: var(--font-color-2);

    }
    div{
        position: absolute;
        top: 12vw;
        display: flex;
        flex-direction: row;
        /* align-self: center; */
        right: 39.5vw;
        width: auto;
        height: auto;
        gap: 3vw;
        cursor: pointer;
        img{
            width:  2.5vw;   
            border-radius: 100%;
            /* text-align: left;        */
         }
    }
}

.section__finish{
    position: absolute;
    top: 175vw;
    left: 0.5vw;
    color: var(--color-1);
    font-size:1.4vw;
    padding-bottom: 0.5vw;
    font-family: "Montserrat-Regular";
    color: var(--font-color-2);
}



/************** version movil **********************/
@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    .texto1 p{
        margin-top: 31.56vh;
    }
    .texto2 p{
        margin-top: 30.28vh;

    }
    .texto3 p{
        margin-top: 30.28vh;

    }

    .div_imagen-scrull{
        height: 14.66vh;

    }

    .one_article-section {
        height:40.23vh;
    }
    
    
}

@media (max-width: 576px) {
    .header{
        /* background: blue;        */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    .texto1 p{
        margin-top: 25.56vh;
    }
    .texto2 p{
        margin-top: 25.28vh;

    }
    .texto3 p{
        margin-top: 25.28vh;

    }

    .div_imagen-scrull{
        height: 14.66vh;

    }

    .one_article-section {
        height:40.23vh;
    }
    
}