@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid tomato;       
}
.header {
    /* background: orange; */
    /* padding: 15px; */
    background-color: var(--color-gradient-2);
    display: flex;
    /* justify-content: stretch; */
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 5px; */

}   
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
    padding-top: 5px;

}
.div__menu {
    /* background: green; */
    margin-top: 5px;
    margin-left: 45em;
    /* padding: 15px; */
    /* border-top: 2px solid black; */
}
.ul__menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
    /* padding-top: 5px; */

}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";

}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

.img_header{
    display: flex;
    position: absolute;
    left: 1338px;
    top: 0.5vw;
    width: 1.5vw;
    height: auto;
    cursor: pointer;
    gap: 10px;
}
.main{
    background-color: var(--color-gradient-2);
    width: 100px;

}
.section_line{
    position: absolute;
    background-color: var(--font-color-2);
    left: 4vw;
    width: 92vw;
    top: 7vw;
    height: 2px;
}
