@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid tomato;
}

/*****************encabezado****************/
.header {
    display: flex; /* Aplica el modelo de diseño Flexbox para los elementos hijos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos hijos, dejando el máximo espacio posible */
    /* align-items: center; Alinea los elementos hijos verticalmente al centro */
    position: absolute; /* Coloca el contenedor fuera del flujo normal del documento, con posicionamiento relativo al contenedor padre */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
    padding-left: 20px; /* Añade un espacio de 20px a la izquierda del contenedor */
    padding-right: 20px; /* Añade un espacio de 20px a la derecha del contenedor */
    padding-top: 5px; /* Añade un espacio de 5px en la parte superior del contenedor */
}

.div__logo {
    width: 47;
    height: 500;
}

/* .div__menu { 

} */

.ul__menu {
    display: flex;
    gap: 20px;
    padding-right: 100px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);
}

.ul__menu li{
    list-style: none;
    font-size: 17px;
}

/************body of the web site*******************/
/* .main {
    background-color: blue;
} */

.section__home {
    background-image: linear-gradient(#376e405e, #071917d5), url(../storage/img/Rectangle1.png);
    background-size: cover;
    background-position: center 20%;
    width: 100vw;
    height: 140vh


}
.article__home {
    width: 626px;
    height: 360px;
    position: absolute;
    left: 22svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}

.article__home span {
    font-size: 28px;
    font-family: "Montserrat-Medium";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-Medium";
}

.article__home p {
    width: 340px;
    font-family: "Montserrat-SemiBold";
}



/***********buttom of the web page************/
.section__icon {

    background-color: #071917;
    display: flex;
    justify-content: space-around;/*espacio entre elementos*/

}


/*************section at the  more buttom of the web site**********************/
.section_2 {
    position: relative;
    background-color: #081A17;/*, url(../storage/im/Rectangle\ 2.png);*/
    display: flex;
    /* background-size: cover; */
    justify-content: center;
    width: 100vw;
    height: 140vh;

    /* background-image: url(../storage/img/Rectangle\ 2.png); */
    .img2{
    background-size: cover;
    padding-top: 40px;/*arriba*/
    padding-bottom:20px;/*abajo*/
    /* gap: 20px; */
    width: 95vw;
    height: 140vh;

    }
    
    .text{
        width: 626px;
        height: 360px;
        position: absolute;
        left: 22svw;
        top: 36svh;
        /* transform: translate(-50%, -50%); */
        display: flex;
        gap: 15px;
        color: var(--color-1);
        border-radius: 10px;
        text-align: center;
    }

    .text h1 {
        font-size: 75px;
        font-family: "Montserrat-Medium";
        
    }

}

/****************mobile version*********************/

@media (max-width: 960px) {

        .header {
            /* background:red ; */
            padding: 15px;
        }

        .ul__menu {
            gap: 15px;
            padding-right: 15px;
        }

        .section__home{
            display: flex;
            justify-content: space-around;
        }

        .article__home{
            left: 0;
        }

        .article__home span{
            /*nada*/
        }

        .article__home h1 {
            font-size: 70px;
        }

        .article__home p{
            /*nada*/
        }

        .section__icon{
            justify-content: space-around;
        }

        .section__icon img{
            width: 45px;
            height: 45px;
            object-fit: contain;
        }

}

/****movil horizontal***/


@media (max-width: 576px) {
    .header{
        background: blue;
        justify-content: normal;
    }

    .div__logo{
        flex: 1;
    }

    .div__menu{
        width: 100%;
    }

    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .article__home{
        top: 25svh;
    }

    .article__home h1{
        font-size: 60px;
        /* width: 100%;
        padding: 10px; */

    }

    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    

}
