@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid tomato;

}
/********** header ******************/
.header {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
}
.div__menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul__menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

/********** main ******************/
.main {
    background: #071917;

    /* background: red; */
    /* padding: 20px; */
}
.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
    /* padding: 20px; */
}
.article__home {
    /* background: green; */
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article__home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{
    /* background: red; */
    width: 340px;
    font-family: "Montserrat-Medium";
}
/*************footer of the first part**********************/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
    
}

/* .section__icon img{
    background: violet; */

/*************section two of the three images************/

.div_image-section{
    display: flex;
    flex-direction: column; /* Alinea los elementos hijos en una columna vertical */
    gap:2.73vh;
}
.section_imagen1{
    display: flex;
    margin-top: 5.86vh;
    /* width: 1394px; */
    height: 82,81svh;    
    margin-left:1.8vw;
    margin-right: 1.8vw;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}
.section_imagen1 img{
    width: 100%;
    height: 100%;
}
.texto1 p{
    display: flex;
    position: absolute;
    color: var(--font-color-1);
    /* width: 41.72vw;
    height: 6.54vh; */
    font-family:"Montserrat-SemiBold";
    font-size: 3.9vw;
    left: 5.94vw;
    margin-top: 73.56vh;

}

.section_imagen2{
    display: flex;
    /* margin-top: 5.86vh; */
    /* width: 1394px; */
    height: 82,81svh;    
    margin-left:1.8vw;
    margin-right: 1.8vw;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}
.section_imagen2 img{
    width: 100%;
    height: 100%;
}
.texto2 p{
    display: flex;
    position: absolute;
    color: var(--font-color-1);
    /* width: 41.72vw;
    height: 6.54vh; */
    font-family:"Montserrat-SemiBold";
    font-size: 3.9vw;
    left: 5.94vw;
    margin-top: 69.28vh;

}  

.section_imagen3{
    display: flex;
    /* margin-top: 5.86vh; */
    /* width: 1394px; */
    height: 82,81svh;    
    margin-left:1.8vw;
    margin-right: 1.8vw;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
}
.section_imagen3 img{
    width: 100%;
    height: 100%;
}
.texto3 p{
    display: flex;
    position: absolute;
    color: var(--font-color-1);
    /* width: 41.72vw;
    height: 6.54vh; */
    font-family:"Montserrat-SemiBold";
    font-size: 3.9vw;
    left: 5.94vw;
    margin-top: 70.46vh;

}  

.txt4{
    color: var(--font-color-1);
    font-family:"Montserrat-Medium";
    font-size: 3.52vw;
    margin-left: 3.91vw;
}
/********section scrull*********/
.section_scrull{
    display: flex;
    flex-direction: row;
    height: auto;
    /* width: auto;
    left: 100px; */
    gap:2.34vw;
    margin-top: 2.83vh;
    /* overflow: hidden; */
    overflow-y: scroll;

}
.one_article-section{
    /* right: 50px; */
    background: var(--color-gradient-3);
    width:30.08vw;
    height:61.23vh;
    margin-left: -80px;
    border-radius: 2.43vw;

}
.div_imagen-scrull{
    display: flex;
    width: 26.72vw;
    height: 22.66vh;
    margin-top:2.54vh ;
    margin-left: 1.72vw;
}
.div_imagen-scrull img{
    width: 100%;
    height: 100%; 
}
.div_h3-scrull h3{
    margin-top: 2.34vh;
    margin-bottom: 1.76vh;
    margin-left: 1.95vw;
    margin-right: 1.95vw;
    color: var(--font-color-1);
    font-family: "Montserrat-SemiBold";
    font-size: 2.3vw;
}
.div_p-scrull {
    display: flex;
    margin-left: 1.56vw;
    margin-right: 1.56vw;
    margin-bottom: 2.54vh;
}
.div_p-scrull p{
    color: var(--font-color-1);
    font-family:"Montserrat-Regular" ;
    font-size:1.58vw ;
}
.div_a-scrull {
    display: flex;
    margin-left: 9.38vw;
    margin-right: 9.38vw;
    width: 11.33vw;
    height: 4.30vh;
    font-family: "Montserrat-Regular";
    font-size:1.56vw ;
    justify-content: center; 
    align-items: center;
    color: var(--font-color-1);
    border-radius: 2.34vh;
    background: var(--color-gradient-4);
    outline: 1px solid var(--color-1);
}
.div_a-scrull a{
    color: var(--color-gradient-2);
    text-decoration: none;
    cursor: pointer;

}
/*****/
.two_article-section{
    background: var(--color-gradient-3);
    width:30.08vw;
    height:61.23vh;
    margin-left: 10px;
    border-radius: 2.43vw;

}

.three_article-section{
    background: var(--color-gradient-3);
    width:30.08vw;
    height:61.23vh;
    margin-left: 10px;
    border-radius: 2.43vw;

}
.four_article-section{
    background: var(--color-gradient-3);
    width:30.08vw;
    height:61.23vh;
    margin-left: 10px;
    border-radius: 2.43vw;

}
.five_article-section{
    background: var(--color-gradient-3);
    width:30.08vw;
    height:61.23vh;
    margin-left: 10px;
    border-radius: 2.43vw;

}
/**********/
.Networks{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center; 
    gap: 54px;
    top: 18svh;
    height: 18svh;
}
/***************carrusel ******************/

.section_scrull::-webkit-scrollbar {
    height: 10px; /* Altura de la barra de desplazamiento */
}

.section_scrull::-webkit-scrollbar-track {
    background: #e5e5e500; /* Color del fondo de la barra */
    border-radius: 4px; /* Bordes redondeados */
}

.section_scrull::-webkit-scrollbar-thumb {
    background: #2a5b3425; /* Color del deslizador */
    border-radius: 4px; /* Bordes redondeados */
}

.section_scrull::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(circle, rgb(50, 146, 76)0%,rgb(26, 71, 38)100%); /* Color del deslizador al pasar el mouse */
}

/************** version movil **********************/
@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    
    
}

@media (max-width: 576px) {
    .header{
        /* background: blue; */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}